.container {
  display: flex;
  align-items: center;
  text-align: inherit;
  gap: 12px;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--bg-element);
  cursor: pointer;
  width: 100%;
  border: none;
  font: inherit;
}

.interactive:hover {
  background-color: var(--bg-secondary-hover);
}

.interactive:active {
  background-color: var(--bg-secondary-active);
}

.enabled {
  background-color: var(--primary-200);
}

.name {
  color: var(--text);
  font-weight: 500;
}

.email {
  color: var(--text-light);
  font-size: 13px;
  line-height: 16px;
}
